{% extends "base.html" %} {% block content %}

<!-- ================= HERO SECTION ================= -->
{% include "components/hero.html" %}
<!--=================================
      ResumeIQ Trust Section
===================================-->
{% include "components/features.html" %}
<!-- ================= Upload Resume ================= -->
{% include "components/upload.html" %}
<!-- ================= Dashboard ====================-->> {% include
"components/dashboard.html" %} 
{% endblock %}
